.search_area
  %form
    .form_area
      %input.form_area__text{type: "text", placeholder: "動画を検索"}
        %label.form_area__btn
          = icon('fas', 'search', class: "form_area__btn--icon")
          %input.form_area__btn--display{type: "submit", value: ""}