.registration {
  width: $main_content_width;
  margin: 20px auto;
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__explain {
    font-size: 16px;
    margin-top: 8px;
  }
  &__field {
    font-size: 20px;
    margin-top: 10px;
    .image_form {
      height: 100px;
      width:  100px;
      background-color: #f8f8f8;
      text-align: center;
      border: 2px solid black;
      &__icon {
        font-size: 60px;
        line-height: 100px;
      }
      &__display {
        display: none;
      }
    }
    &--form {
      height: 30px;
    }
  }
  &__actions {
    font-size: 20px;
    margin-top: 20px;
  }
  &__link {
    font-size: 20px;
    margin-top: 30px;
  }
}