.header {
  height:96px;
  width: 1020px;
  margin: 5px auto 0px;
  background-color: aqua;
  .header_top {
    width: 100%;
    background-color: cornsilk;
    height: 50px;
    display: flex;
    &__title {
      font-size: 32px;
      font-weight: bold;
    }
    .search_area {
      margin: auto 0 auto 10px;  
      .form_area {
        display: flex;
        &__btn {
          background-color: tan;
          padding: 5px;
          &--display {
            display: none;
          }
        }
      }
    }
  }
  .categorys {
    width: 100%;
    background-color: skyblue;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    &__category {
      background-color: white;
      line-height: 20px;
      height: 20px;
      margin: 5px 0 0 5px;
      padding: 3px 5px;
    }
  }
}
.main {
  width: 1020px;
  margin: auto;
  background-color: bisque;
  .block {
    padding: 10px;
    .title_area {
      display: flex;
      align-items: center;
      &__text {
        font-size: 20px;
      }
      &__link {
        margin-left: 10px;
        text-decoration: none;
        color: #909090
      }
    }
    .movies {
      display: flex;
      flex-wrap: wrap;
      .movie {
        background-color: whitesmoke;
        margin: 10px;
        &__thumbnail {
          background-color: darkorange;
          height: 128px;
          width: 218px;
        }
        &__title {

        }
      }
    }
  }
}
.footer {
  height: 100px;
  width: 1020px;
  margin: auto;
  background-color: grey;
}