.new_header {
  display: flex;
  justify-content: space-between;
  width: $main_content_width;
  margin: 20px auto;
  &__logo {
    font-size: $logo_size;
    font-weight: bold;
  }
  .user_information {
    display: flex;
    &__name {
    }
  }
}
.video_form {
  width: $main_content_width;
  margin: auto;
  padding-bottom: 50px;
  .video_input {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin: 5px 0;
    }
    &__form {
      width: 680px;
      padding: 10px 0;
      // ここでpadddingの大きさを調整する
      background-color: white;
      border: 1px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: gray;
      &--icon {
        font-size: 40px;
      }
      &--display {
        display: none;
      }
    }
  }
  .video_thumbnail {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin-top: 5px;
    }
    &__form {
      width: 680px;
      padding: auto;
      // ここでpadddingの大きさを調整する
      background-color: white;
      border: 1px solid gray;
      &--display {
        display: none;
      }
    }
  }
  .video_title {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin-top: 5px;
    }
    &__form {
      width: 680px;
    }
  }
  .video_explain {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin-top: 5px;
    }
    &__form {
      width: 680px;
    }
  }
  .video_genre {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin-top: 5px;
    }
    &__form {
      width: 680px;
    }
  }
  .video_tags {
    margin-bottom: 10px;
    &__text {
      font-weight: bold;
      margin-top: 5px;
    }
    &__form {
      width: 680px;
    }
  }
}