.site_header
  .header_area
    %ul.left_box
      %li.left_box__list
        =link_to root_path, class: "left_box__list--link" do
          = icon('fas', 'tv', class: "")
      %li.left_box__list
        =link_to root_path , class: "left_box__list--link" do
          動画
    %ul.right_box
      %li.right_box__list
        =link_to "#" , class: "right_box__list--link" do
          (-o-)
      %li.right_box__list
        =link_to "#" , class: "right_box__list--link" do
          ジャパニーズさん
      - if current_user
        %li.right_box__list
          =link_to new_video_path, class: "right_box__list--link" do
            動画投稿
      %li.right_box__list
        =link_to "#" , class: "right_box__list--link" do
          ランキング
      %li.header_menu#hover_menu
        メニュー▼
        %ul.menu.display_none#js_menu
          %li.menu__list
            =link_to "#" , class: "menu__list--link" do
              マイリスト
          %li.menu__list
            =link_to "#" , class: "menu__list--link" do
              フォロー
          %li.menu__list
            =link_to "#" , class: "menu__list--link" do
              投稿動画
          %li.menu__list
            =link_to "#" , class: "menu__list--link" do
              アカウント設定
          - if user_signed_in?
            %li.menu__list
              =link_to "ログアウト", destroy_user_session_path, method: :delete , class: "menu__list--link" 
          - else
            %li.menu__list
              = link_to "新規登録", new_user_registration_path, class: "menu__list--link"
            %li.menu__list
              = link_to "ログイン", new_user_session_path, class: "menu__list--link"