.site_header
  %ul.left_box
    %li.left_box__list
      =link_to "#" , class: "left_box__list--link" do
        = icon('fas', 'tv', class: "")
    %li.left_box__list
      =link_to "#" , class: "left_box__list--link" do
        動画
  %ul.right_box
    %li.right_box__list
      =link_to "#" , class: "right_box__list--link" do
        (-o-)
    %li.right_box__list
      =link_to "#" , class: "right_box__list--link" do
        ジャパニーズさん
    %li.right_box__list
      =link_to "#" , class: "right_box__list--link" do
        動画投稿
    %li.right_box__list
      =link_to "#" , class: "right_box__list--link" do
        ランキング
    %li.header_menu
      メニュー▼
      %ul.menu
        %li.menu__list
          =link_to "#" , class: "menu__list--link" do
            マイリスト
        %li.menu__list
          =link_to "#" , class: "menu__list--link" do
            フォロー
        %li.menu__list
          =link_to "#" , class: "menu__list--link" do
            投稿動画
        %li.menu__list
          =link_to "#" , class: "menu__list--link" do
            アカウント設定
        %li.menu__list
          =link_to "#" , class: "menu__list--link" do
            ログアウト

    