.header
  %ul.left_box
    %li.left_box__toppage
      toppageへ
    %li.left_box__video
      動画
  %ul.right_box
    %li.right_box__user_image
      (-o-)
    %li.right_box__user_name
      user
    %li.right_box__create_video
      動画投稿
    %li.right_box__ranking
      ランキング
    %li.header_menu
      メニュー
      %ul.menu_list
        %li.menu_list__mulist
          マイリスト

    